<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme-cumaster.css" rel="stylesheet" />*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @*<div class="container-fluid" style="background-color:#e9eef4;">
            <h2 class="text-primary" style="font-weight:bold;">Currency Master</h2>
            <span class="" style="font-size:14pt;color:#333;">Convert it, Track it, Find Out Where to Use it</span>
            @*<div style="font-size:16pt;">Currency Conversion and Tracking System</div>*@
        @*<br/>*@
        @*</div>*@
        <div class="navbar bg-primary" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggle"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" style="color:#eee;"></span>&nbsp;<label style="font-weight:bold;color:#eee;">Currency Master</label></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:#eee;">
                    <li class="nav-item"><a class="navbar-link" href="@Url.Action("ConversionCalculator", "Home")">Conversion</a></li>
                    <li class="nav-item"><a class="navbar-link" href="@Url.Action("Tracking", "Home")">Tracking</a></li>
                    <li class="nav-item"><a class="navbar-link" href="@Url.Action("Index", "BusinessFinder")">Find an Exchange</a></li>
                    <li class="nav-item"><a class="navbar-link" href="@Url.Action("Index", "ExchangeCostCalculator")">Cost Calculation</a></li>
                    <li class="nav-item"><a class="navbar-link" href="@Url.Action("Index", "Help")">Help</a></li>
                </ul>
                <form class="form-inline my-2 text-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <a class="nav-link hidden" href="#">My Account</a>
                    <button class="nav-link button btn-link" style="color:#eee;">Sign In/Register</button>
                </form>
            </div>
        </div>

    </header>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("JavaScript", false)

    <footer class="" style="background-color:#e9eef4;">
        <br />
        <div class="container-fluid">
            <div class="col-md-4 col-sm-2 text-center">
                &copy;2017, CIS9590 Team 3
            </div>
            <div class="col-md-4 col-sm-2 text-center">
                <a href="#">About</a>
            </div>
            <div class="col-md-4 col-sm-2 text-center">
                <a href="#">Contact Us</a>
            </div>
        </div>
        <br />
    </footer>
</body>

</html>

